footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer-content {
    color: rgba(0, 0, 0, 0.5);
}

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    vertical-align: middle;
}

a:hover {
    color: #212529;
}
