<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">user !</li>
      <li class="content__container__list__item">developer !</li>
      <li class="content__container__list__item"> product owner!</li>
      <li class="content__container__list__item">world !</li>
    </ul>
  </div>
</div>