<div class="flex-container">
  <div>
    <img class="image" img align="left" src="assets/pandaship.png">
  </div>
  <div class="chat-box">
    <iframe width="350" height="460" src="https://console.dialogflow.com/api-client/demo/embedded/15ff7bb9-f861-4e40-9d26-cd66800718a3"></iframe>
  </div>  
    <div class="container">
      <h1 class="typing">
       I am <i>Thaleia</i>. Your programming virtual amiga. <br><br>
       How can I help you today?
      </h1>
      <div class="hiders">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
      </div>

    </div>
  </div>
