
.flex-container {
    display: flex;
    position: relative;
  }
.chat-box{
  display: center;
  padding-top: 60px;
}

.image{
  float: left;  
  margin-top:0px;
  padding: 5px;
  width:auto;
  height:auto;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
}

.container {
position: relative;
font-family: Consolas, monospace;  
}

@keyframes typing {
  from { width: 100% }
  to { width: 0 }
  
}
.typing {
padding-top: 80px;
padding-left: 20px;
padding-right: 20px;
position: absolute;
font-size: 20;
top: 0;
margin: 0;
z-index: -1;
}

.hiders {
margin: 0;
position: absolute;
top: 0;
width: 100%;
}

.hiders h1 {
  padding-top: 60px;
  position: relative; 
  clear: both; 
  margin: 0;
float: right; /* makes animation go left-to-right */
width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
animation: typing 2s steps(30, end);
animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders h1:nth-child(2) {
animation-delay: 2s;
}
.hiders h1:nth-child(3) {
animation-delay: 4s;
}
.hiders h1:nth-child(4) {
animation-delay: 6s;
}
.hiders h1:nth-child(5) {
animation-delay: 8s;
}
